--- 
layout: default 
title: 出错啦！ 
---
<head>
    <meta name="google-adsense-account" content="ca-pub-1467729400140451">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1467729400140451"
         crossorigin="anonymous"></script>
</head>

<body>
    <div class="post-wrapper">
        <h1 class="post-title" style="margin-bottom: 50px;"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <ul>
            {% for category in site.categories %}
            <h2>{{ category | first }}</h2>
            <!-- <span>（{{ category | last | size }}）</span>
 -->
            <ul class="arc-list">
                {% for post in category.last %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date:"%d/%m/%Y"}}</span></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>
</body>
