---
layout: default
---
<head>
  <meta name="google-adsense-account" content="ca-pub-1467729400140451">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1467729400140451"
       crossorigin="anonymous"></script>
</head>

<body class="body-post">
  <div class="post-wrapper">
    <h1 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/js/post.js" type="text/javascript"></script>
  
</body>
